# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder
Icon?
._*

# macOS Quick Look
*.qlgenerator

# macOS Spotlight
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Backup directory
.dotfiles_backup

# Git
.gitconfig

# Nvim
lazy-lock.json